.main {
    background-color: antiquewhite;
}
.header {
    background-color:  rgb(162, 236, 195);
    height: 200px;
    font-size: 00.8em;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 900px;
    padding: 20px;
}
    .main, .logo, .menubar, .site_content, .footer {
        margin-left: auto;
        margin-right: auto;
}
    .logo {
        width: 1400px;
        padding-bottom: 40px;
}
.leftbar {
    background-color: rgb(142, 175, 247);
    height: 800px;
    width: 400px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 15px;
}
.bar {
    font-size: 1.5em;
    color: darkblue;
    padding-left: 50px;
}
.menubar {
	width: 900px;
	height: 46px;
}
ul.menu {
	float: right;  
}
ul.menu li {
	float: left;
	padding: 0 0 0 9px;
	list-style: none;
	margin: 1px 2px 0 0;
    font-size: 1.2em;
}
ul.list li a:hover {
    color: rgb(223, 238, 16);
    text-decoration: none;
}
ul.menu li a:hover {
    color: rgb(241, 90, 110);
    text-decoration: none;
}
ul.menu a {
    text-decoration: none;
}
ul.list a {
    text-decoration: none;
}
.site_content {
    width: 880px;
    overflow: hidden;
    margin: 20px auto 0 auto;
    background-color: aqua;
}
.sidebar_container {
    float: right;
    width: 224px;
}